body {
  padding: 1% 5%;
}

li {
  list-style: none;
}

h2 {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

.float_clear {
  clear: both;
}

.article_date_head {
  font-size: 0.8em;
  color: #777;
  margin-bottom: 0px;
}

#main {
  float: left;
  width: 75%;
}

#sidebar {
  float: right;
  width: 25%;
}

#current a {
  text-decoration: underline;
}

#tag {
  word-wrap: break-word;
}
#tag li {
  margin: 0 5px 5px 0;
  float: left;
}
#tag li a {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px 10px;
  color: #777;
}

.archive_year_on:before {
  content: "▼"
}

.archive_year_off:before {
  content: "▶"
}
footer {
  clear: both;
  font-style: italic;
  font-size: 0.8em;
}
