body {
  padding: 1% 5%;
}

li {
  list-style: none;
}

#main {
  float: left;
  width: 75%;
}

#sidebar {
  float: right;
  width: 25%;
}

#tag {
  word-wrap: break-word;
}
#tag li {
  margin: 0 5px 5px 0;
  float: left;
}
#tag li a {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px 10px;
  color: #777;
  text-decoration: none;
}

.float_clear {
  clear: both;
}

footer {
  clear: both;
  font-style: italic;
  font-size: 0.8em;
}
